<%= render 'shared/description', lead: "Welcome!", description: "Hope you'll enjoy it!" %>
Currently we have
<ul>
  <li><strong><%= @players_count %></strong> players</li>
  <li><strong><%= @tournaments_count %></strong> tournaments</li>
  <li><strong><%= @matches_count %></strong> matches</li>
</ul>
in our database. And still counting!
